<%= csrf_meta_tag %>
<div class="center" >
  <h1> Machine Learning (can take 2 to 5 minutes)</h1>
  <form enctype="multipart/form-data" name="upload" action="cognitive/upload" method="POST" >

    <input id="upload" name="uploadfile" type="file" multiple>
    <p id="select">Drag your files here</p>
    
    <div>
          <p>Select the language</p>
          <select name="position" class="form-control pointer required reduce" id="language">
              <option value="">--- Select ---</option>
              <option value="en-Us">English</option>
              <option value="fr-Fr">French</option>
          </select>
    </div>
  </form>
  <div class="button-center">
    <button type="submit" id="submit_button" class="btn btn-primary" >Get identified profile</button>
  </div>
  <div>
    <h3> identified Profile</h3>
    <p id="profile"></p>
  </div>
</div>





<script>


$(document).ready(function(){
  $('form input').change(function () {
    $('#select').text(this.files.length + " file(s) selected");
  });

  $('#submit_button').click(function () {
    if ($('#language').val() == "" || $('#upload').val() == "") {
      alert("One field is empty");
    }else{
        var params = {
            // Request parameters
            "shortAudio": "true",
        };
        var file = $('input#upload')[0].files[0];
        $.ajax({
            url: "/identification",
            type: "POST",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: {file: file.name},
            success: function(data) {
              setTimeout(function() {
                  getRequest(data['location']);
              }, 10000);
            }
        })
    } 
  });

  function getRequest(data) {
    $.ajax({
            url: "/identification/selectedProfile",
            type: "GET",
            beforeSend: function(xhr) {xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))},
            data: {url: data},
            success: function(data) {
                $('#profile').text(data['processingResult']['identifiedProfileId'])
            }
        });
  }

}); 

</script>


